/* LESS STYLESHEETS */

@import "variables.less";

/* GENERAL STYLES */

body {
  padding: 0px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  color: #333;
  text-rendering: optimizelegibility;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Titillium, Helvetica, arial, sans-serif;
  font-weight: 400;
  text-rendering: optimizelegibility;
}

p, li {
  font-size: 1.2em;
}

.section {
  padding: 80px 0px;
}

.section.red-bg {
  background: @red-bg;
  color: #ffffff;
}

.section.img-bg {
  background: image-url('bg4.png') 50% 0 fixed; 
}

.section.white-bg {
  background: @white-bg;
}

/* Navbar */

.logo img {
  margin: 0 auto 60px;
  display: block;
}

.navbar-default {
  background-color: transparent;
  border-color: transparent;
  margin-bottom: 0px;
}

.navbar-default .navbar-nav {
  list-style-type: none;
  text-align: center;
  display: block;
  float: none;
  margin: 0px;
  padding: 0px;
}

.navbar-default .navbar-nav>li {
  float: none;
  display: inline-block;
  margin: 0px 10px;
}

.navbar-default .navbar-nav>li>a {
  color: #fff;
  background: rgba(168, 31, 38, 0.4);
  padding: 20px 0px;
  width: 150px;
  display: inline-block;
  font-family: titillium, helvetica, arial, sans-serif;
  font-weight: 200;
  font-size: 1.4em;
  line-height: 1em;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
  background: rgba(168, 31, 38, 0.8);
  color: #fff;
  text-decoration: none;
}

/* Footer */

#pageFooter {
  background-color: #222;
  padding: 20px 0;
  color: #bbb;
}

.navbar-default .footer-nav {
  list-style-type: none;
  text-align: center;
  display: block;
  float: none;
  margin: 0px;
  padding: 0px;
}

.navbar-default .footer-nav>li {
  float: none;
  display: inline-block;
  margin: 0px 10px;
}

.navbar-default .footer-nav>li>a {
  color: #bbb;
  display: inline-block;
  font-family: titillium, helvetica, arial, sans-serif;
  font-weight: 200;
  font-size: 1em;
}

.navbar-default .footer-nav>li>a:hover, .navbar-default .footer-nav>li>a:focus {
  color: #fff;
  text-decoration: none;
}

#pageFooter p {
  text-align: center;
  margin: 0px 0px 10px 0px;
  font-size: 1em;
}

#pageFooter a {
  color: #bbb;
}

#pageFooter a:hover {
  color: #fff;
  text-decoration: none;
}







