/* LESS STYLESHEETS */

@import "variables.less";

/* GENERAL STYLES */

body {
  padding: 0px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  color: #333;
  text-rendering: optimizelegibility;
}

