/* LESS VARIABLES */

/* Colours */

@white-bg: #fff;
@red-bg: #a81f26;

/* Screen Sizes */

@screen-sm: 768px;
@screen-md: 992px;
@screen-lg: 1200px;

/* Fonts */

@font-face { font-family: din_black; src: url('../fonts/din_black.ttf'); }
@font-face { font-family: din_regular; src: url('../fonts/din_regular.ttf'); }
@font-face { font-family: Titillium; font-weight:100; src: url('../fonts/TitilliumText22L001.otf'); }
@font-face { font-family: Titillium; font-weight:200; src: url('../fonts/TitilliumText22L002.otf'); }
@font-face { font-family: Titillium; font-weight:300; src: url('../fonts/TitilliumText22L003.otf'); }
@font-face { font-family: Titillium; font-weight:400; src: url('../fonts/TitilliumText22L004.otf'); }
@font-face { font-family: Titillium; font-weight:500; src: url('../fonts/TitilliumText22L005.otf'); }
@font-face { font-family: Titillium; font-weight:600; src: url('../fonts/TitilliumText22L006.otf'); }


/* CSS3 Styles */

.box-sizing (@border-box) {
  -webkit-box-sizing: @border-box;
  -moz-box-sizing: @border-box;
  box-sizing: @border-box;
}

.box-shadow (@shadow) {
  -webkit-box-shadow: @shadow;
  -moz-box-shadow: @shadow;
  -ms-box-shadow: @shadow;
  -o-box-shadow: @shadow;
  box-shadow: @shadow;
}

.border-radius (@radius) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  -ms-border-radius: @radius;
  -o-border-radius: @radius;
  border-radius: @radius;
}

.transition (@transition) {
  -webkit-transition: @transition;
  -moz-transition: @transition;
  -o-transition: @transition;
  transition: @transition;
}
