<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Startup Grind Barcelona | #SGBCN | {{ page.title }}</title>
    <meta name="description" content="Startup Grind is a global community powered by Google for Entrepreneurs. Our aim is to inspire, educate and connect entrepreneurs worldwide - {{ page.title }}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <META name="author" content="www.marsbased.com">
    <META name="copyright" content="2014 MarsBased">
    <!-- Favicon -->
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <!-- Viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Style -->
    {% stylesheet application %}
    <!-- jQuery JS -->
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    {% javascript application %}
    <!-- IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="section img-bg">
      <div class="container">
        <div class="row">
          <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 logo">
            <a itemprop="url" href="/" title="Logo">
              <img itemprop="logo" src="{% asset_path logo_darkbg.png %}" class="img-responsive" title="Logo" alt="Logo" />
            </a>
          </div>
          <div class="col-xs-2 social-icons">
            <a href="http://www.twitter.com/StartupGrindBCN" target="_blank" title="Twitter">
              <i class="fa fa-twitter"></i>
            </a>
            <a href="https://plus.google.com/101645535836056334155" rel="publisher" target="_blank" title="Google+">
              <i class="fa fa-google-plus"></i>
            </a>
            <a href="http://facebook.com/StartupGrindBCN" target="_blank" title="Facebook">
              <i class="fa fa-facebook"></i>
            </a>
            <a href="http://www.linkedin.com/groups?home=&gid=6635018&trk=anet_ug_hm" target="_blank" title="LinkedIn">
              <i class="fa fa-linkedin"></i>
            </a>
            <a href="http://www.meetup.com/Startup-Grind-Barcelona/" target="_blank" title="Meetup">
              <img src="{% asset_path meetup.png %}" alt="Meetup" title="Meetup" />
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <nav class="navbar navbar-default" role="navigation">
              <div class="sections">
                <ul class="navbar-nav">
                  <li class="{% if page.code == 'home' %}active{% endif %}">
                    <a href="/" title="Home">Home</a>
                  </li>
                  <li class="{% if page.code == 'events' %}active{% endif %}">
                    <a href="/events" title="Events">Events</a>
                  </li>
                  <li class="{% if page.code == 'values' %}active{% endif %}">
                    <a href="/values" title="Values">Values</a>
                  </li>
                  <li class="{% if page.code == 'contact' %}active{% endif %}">
                    <a href="/contact" title="Contact">Contact</a>
                  </li>
                </ul>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <div class="content">
      {{ content }}
    </div>
    <footer id="pageFooter">
      <div class="container">
        <div class="row">
          <div class="col-xs-10 col-xs-offset-1">
            <nav class="navbar navbar-default" role="navigation">
              <div class="sections">
                <ul class="footer-nav">
                  <li class="{% if page.code == 'home' %}active{% endif %}">
                    <a href="/" title="Home">Home</a>
                  </li>
                  <li class="{% if page.code == 'events' %}active{% endif %}">
                    <a href="/events" title="Events">Events</a>
                  </li>
                  <li class="{% if page.code == 'values' %}active{% endif %}">
                    <a href="/values" title="Values">Values</a>
                  </li>
                  <li class="{% if page.code == 'contact' %}active{% endif %}">
                    <a href="/contact" title="Contact">Contact</a>
                  </li>
                  <li class="{% if page.code == 'privacy' %}active{% endif %}">
                    <a href="/privacy" title="Privacy Policy">Privacy Policy</a>
                  </li>
                </ul>
              </div>
            </nav>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-10 col-xs-offset-1">
            <p>2014 © Startup Grind Barcelona. All Rights Reserved</p>
            <p>Created by <a href="http://www.marsbased.com/" title="MarsBased" target="_blank">MarsBased</a> - from Mars, with love</p>
          </div>
        </div>
      </div>
    </footer>
    {% include analytics.html %}
  </body>
</html>
